extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slider
		.container
			.row
				.col
					h1 lo
					p
						a(href="#").btn.btn-more dfdfdf
	section.home-team
		.container
			.row
				.col
					h2 amsmjs lklsak
					p lo
			.row
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
				.col-md-3.col-sm-6
					figure
						img.img-fluid(src="./img/home_avt1.png", alt="home_avt1", srcset="")
						h2 ksdkasj kjsd;lkjsa
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis fugiat ea quaerat assumenda nihil, voluptatibus beatae maxime delectus nobis explicabo dolore commodi, quo laudantium, neque perferendis accusantium omnis aliquam?
					ul.list-inline
						li.list-inline-item
							a.fa.fa-facebook
						li.list-inline-item
							a.fa.fa-youtube
						li.list-inline-item
							a.fa.fa-twitter
						li.list-inline-item
							a.fa.fa-envelope
	section.home-form
		.container.home-form-fixwight
			.row.mb-3
				.col
					.title-page.title-xam
						h2 Lorem ipsum dolor sit amet 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto a mollitia ducimus ut inventore quaerat saepe velit illum natus! Neque, ut! Nisi iure laborum dolorem, unde consequuntur dignissimos nulla expedita?
			.row.form-group
				.col-sm-6.mb-3.mb-0.mb-sm-3
					input.form-control(type="text" placeholder="Email")
				.col-sm-6.mb-3
					input.form-control(type="text" placeholder="Phone number")
			.row.form-group
				.col
					textarea.form-control
						

